<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>


<header>
    <h1>
        <p>Digital Tool Shed</p>
    </h1>
    <p>Your hub for all things gaming peripherals.</p>

</header>

<body>

    <main>
        <div>
            <h2>Review Categories:</h2>
            <div th:each="category: ${categories}">

                <a class="category-links" th:href="@{/category(id=${category.id})}">
                    <img th:src="@{|images\${category.imageUrl}|}" th:alt="${category.imageUrl}" height="100" width="100">
                    <p th:text="${category.name}"></p>
                </a>
            </div>
        </div>
    </main>

    <nav class="end-of-page">
        <a th:text="'All Reviews'" th:href="@{/show-reviews}"></a>
    </nav>



</body>

</html>