<!DOCTYPE html>
<html>

<head>
	<title>Currently Selected Review</title>
</head>

<body>

	<header>
		<h1>
			<p>Digital Tool Shed</p>
		</h1>
		<p>Your hub for all things gaming peripherals.</p>
	</header>

	<main>
		<h1>
			<!--Change IMG size in stylesheets later-->
			<img th:src="@{|images\${review.imageUrl}|}" width="320" height="240"></img>
			<p th:text="${review.title}"></p>
		</h1>
		<h2>
			<p th:text="${review.description}"></p>
		</h2>
		<p th:text="${review.content}"></p>

		<h4>
			<p th:text="'Date: ' + ${review.date}"></p>
			<p th:text="'Review ID: ' + ${review.id}"></p>
		</h4>
	</main>


	<nav class="end-of-page">
		<p>
			<a th:text="'Back to All Categories'" th:href="@{/show-categories}"></a>
		</p>
		<p>
			<a th:text="'Back to ' + ${review.category.name}" th:href="@{/category(id=${review.category.id})}"></a>
		</p>
	</nav>


</body>

</html>