<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Weapon Selector - Reviews</title>
</head>

<body>

	<header>
		<h1>Digital Tool Shed</h1>
		<h2>Your hub for all things gaming peripherals.</h2>
	</header>
	<main>
		<h3>Reviews</h3>


		<div th:each="category: ${categories}">
			<h4 th:text=${category.name}></h4>
			<div th:each="review : ${category.reviews}">
				<img th:src="@{|images\${review.imageUrl}|}" width="160" height="120"></img>
				<p>
					<a th:text="${review.title}" th:href="@{/review(id=${review.id})}"></a>
				</p>

			</div>
		</div>
	</main>

	<nav class="end-of-page">
		<a th:text="'Show All Categories'" th:href="@{/show-categories}"></a>
	</nav>

</body>

</html>