<!DOCTYPE html>
<html>
<head>
<title>Currently Selected Review</title>
</head>
<body>
	
		<h1>
			<p th:text="${review.id} + ' - ' + ${review.title}"></p>
		</h1>
		<h2>
			<p th:text="${review.description}"></p>
		</h2>
		<p th:text="${review.content}"></p>

		<h3>
			<p>Recommendation?</p>
			<img th:src="@{|images\${review.imageUrl}|}" th:height="50"
				th:width="50"></img>
		</h3>
		C:\Users\WeCanCodeIT\wcci\code\repos\reviews-full-stack\src\main\resources\static\images\g303.jpg

		<h4>
			
			<p th:text="'Date: ' + ${review.date}"></p>
		</h4>

		<a href="http://localhost:8080/show-reviews">Back to home</a>

</body>
</html>