.existingComments {
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
    width: 300px;
    background-color: lightgrey;
}

.existingComments > p{
    font-family: Arial, Helvetica, sans-serif;
}

.noComments{
    text-align: center;
    width: 150px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
    background-color: lightgrey;
}

#commentForm{
    margin:10px;
}

#tagsContainer{
    display: flex;
}

.tagContainer{
    display: flex;
    max-width: 300px;
    justify-content: space-around;
    align-items: center;
    margin: 2px;
    border-radius: 5px;
    background-color: teal;
}

.tagContainer p{
    margin: 5px;
    color: white;
    padding: 10px;
    font-size: 16px;
}

/* p.removeTagButton{
    font-size: 26px;
} */


.tagContainer p:visited{
    text-decoration: none;
    color: white;
}

.reviewImage{
    width: 160px;
    height: 120px;
}

